{% extends 'partials/_base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row">
        <h2>Search Sayfası</h2>
        <div class="row">
            {% for i in object_list %}
            <div class="col-4">
                <div class="card shadow-sm">
                    <img src="{{ i.image.url }}" alt="">
                    <div class="card-body">
                        <p class="card-text">{{ i.title}}</p>
                        <p class="card-text">{{ i.description}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/karavan/{{ i.id }}" class="btn btn-primary">İncele</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}